body {
    background-color: #000000; /* Устанавливает темный фон для всего тела страницы */
    color: #ffffff; /* Задает белый цвет текста */
    font-family: Arial, sans-serif; /* Устанавливает шрифт Arial или ближайший доступный шрифт */
    margin: 0; /* Убирает стандартные отступы вокруг страницы */
    padding: 0; /* Убирает стандартные внутренние отступы */
    flex-wrap: wrap; /* Позволяет карточкам переноситься на новую строку */
}

main {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* .container { */
    /* text-align: center; Центрируем текст внутри контейнера */
    /* padding: 20px; Внутренние отступы для контейнера */
    /* background-color: white; Цвет фона для контейнера */
    /* border-radius: 10px; Закругленные углы у контейнера */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); Тень для контейнера */
/* } */

.navbar {
    background-color: #1f1f1f; /* Устанавливает темный фон для навигационной панели */
    display: flex; /* Использует флексбокс для распределения элементов */
    justify-content: space-around; /* Распределяет элементы по горизонтали с равными промежутками */
    padding: 15px; /* Добавляет внутренние отступы к навигационной панели */
}

.navbar a {
    color: #ffffff; /* Устанавливает белый цвет для ссылок в навигационной панели */
    text-decoration: none; /* Убирает подчеркивание из ссылок */
    padding: 10px; /* Добавляет отступы вокруг ссылок */
}

.navbar a:hover {
    color: #ffc107; /* Изменяет цвет текста ссылки на желтый при наведении курсора */
}

h1 {
    text-align: center; /* Выравнивание заголовка по центру */
    margin-top: 20px; /* Добавляет верхний отступ для заголовка */
}

h2 {    
    text-align: auto; /* Выравнивание заголовка по центру */
    margin-top: 20px; /* Добавляет верхний отступ для заголовка */
}

.hero-image {
    display: block; /* Отображает изображение как блочный элемент */
    margin: 0 auto; /* Центрирует изображение горизонтально */
    max-width: 100%; /* Ограничивает максимальную ширину до 100% контейнера */
    height: auto; /* Устанавливает высоту изображения пропорционально ширине */
}

.small-image {
    padding: 10px; /* Добавляет внутренние отступы к навигационной панели */    
    display: block; /* Отображает изображение как блочный элемент */
    margin: 0 auto; /* Центрирует изображение горизонтально */
    max-width: 100%; /* Ограничивает максимальную ширину до 100% контейнера */
    height: auto; /* Устанавливает высоту изображения пропорционально ширине */
}

video {
    padding: 25px;
    margin: 0 auto;
    display: block;
    text-align: center;
}




.card {
    background-color: rgb(90, 90, 90);
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    margin: 10px; /* Добавляет пространство между карточками */
}

.card img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.card h2 {
    margin: 10px 0;
    font-size: 24px;
}

.card p {
    margin: 5px 0;
    color: #ffffff;
}

.container {
    display: flex; /* Используем Flexbox для горизонтального расположения */
    flex-wrap: wrap; /* Позволяет карточкам переноситься на следующую строку, если не хватает места */
    justify-content: center; /* Центрируем карточки по горизонтали */
}



.button {
    display: inline-block;
    background-color: rgb(44, 44, 44);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px; /* Отступ сверху для кнопки */
}
.button:hover {
    background-color: rgb(70, 70, 70); /* Цвет при наведении */
}



.container_1 {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
}

.vk-icon {
    width: 40px; /* Ширина иконки */
    height: 40px; /* Высота иконки */
    margin-right: 10px; /* Отступ справа от иконки */
}
